.red {
    color: red;
}
.bkg {
    background: seagreen;
    color: #ffffff;
    padding: 5px; 5px; 5px; 5px;
}
.bkgp {
 background: blue;
 color: #ffffff;
 width: 125px;
 margin-bottom: 150px;
}
.img {
    width: 150px;
    height: 50px;
}
.bmrg {
    margin-left: 100px;
}
ul {
    font-size: 30px;    
}
li {
    border: 1px solid black;
}
